body {
  padding: 0;
  margin: 0; }

.l-container--progressive {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  transition: all 300ms ease-in; }
  @media (max-width: 330px) {
    .l-container--progressive .btn-toggle {
      display: block; } }
  @media (min-width: 767px) {
    .l-container--progressive .btn-toggle {
      display: block; } }
  @media (min-width: 992px) {
    .l-container--progressive .btn-toggle {
      display: none; } }
  .l-container--progressive > div {
    position: relative;
    background: #eee;
    border: 1px solid #ccc;
    margin-right: -1px; }
    .l-container--progressive > div.active {
      display: block; }
    .l-container--progressive > div header {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 10px 5px;
      background: #ddd;
      text-transform: uppercase; }
    .l-container--progressive > div:nth-child(1) {
      -webkit-flex-basis: 220px;
      -ms-flex-preferred-size: 220px;
      flex-basis: 220px;
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 0 1 15%;
      -ms-flex: 0 1 15%;
      flex: 0 1 15%; }
      @media (max-width: 330px) {
        .l-container--progressive > div:nth-child(1) {
          display: none; } }
      @media (min-width: 767px) {
        .l-container--progressive > div:nth-child(1) {
          display: none; } }
      @media (min-width: 992px) {
        .l-container--progressive > div:nth-child(1) {
          display: block; } }
    .l-container--progressive > div:nth-child(2) {
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
      -webkit-flex: 2 2 25%;
      -ms-flex: 2 2 25%;
      flex: 2 2 25%; }
      @media (min-width: 767px) {
        .l-container--progressive > div:nth-child(2) {
          display: none; } }
      @media (min-width: 992px) {
        .l-container--progressive > div:nth-child(2) {
          display: block; } }
      .l-container--progressive > div:nth-child(2).active {
        display: block; }
    .l-container--progressive > div:nth-child(3) {
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2;
      -webkit-flex: 4 4 50%;
      -ms-flex: 4 4 50%;
      flex: 4 4 50%;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto; }
      @media (max-width: 330px) {
        .l-container--progressive > div:nth-child(3) {
          display: none; } }
      @media (min-width: 767px) {
        .l-container--progressive > div:nth-child(3) {
          display: none; } }
      @media (min-width: 992px) {
        .l-container--progressive > div:nth-child(3) {
          display: block; } }
      .l-container--progressive > div:nth-child(3).active {
        display: block; }
    .l-container--progressive > div:nth-child(4) {
      -webkit-order: 3;
      -ms-flex-order: 3;
      order: 3;
      -webkit-flex: 1 1 15%;
      -ms-flex: 1 1 15%;
      flex: 1 1 15%;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto; }
      @media (max-width: 330px) {
        .l-container--progressive > div:nth-child(4) {
          display: none; } }
      @media (min-width: 767px) {
        .l-container--progressive > div:nth-child(4) {
          display: none; } }
      @media (min-width: 992px) {
        .l-container--progressive > div:nth-child(4) {
          display: block; } }
