/*------------------------------------*    #PX-COLORS-DESIGN
\*------------------------------------*/
/**
 * Brand Colors
 */
/**
     * Primary
     */
/**
     * Light
     */
/**
     * Dark
     */
/**
 * Monochromatic (gray10 is darkest, gray1 is lightest)
 */
/**
 * Define grey = gray to avoid dev typos
 */
/**
 * Buttons
 */
/**
 * Selection
 */
/**
 * Alerts
 */
/**
 * Data Visualization
 */
/**
     * Basic
     */
/**
     * Light
     */
/**
     * Dark
     */
/*
"palm" "screen and (max-width: 44.9375em)",
"lap" "screen and (min-width: 45em) and (max-width: 63.9375em)",
"lap-and-up" "screen and (min-width: 45em)",
"portable" "screen and (max-width: 63.9375em)",
"desk" "screen and (min-width: 64em)",
*/
/*================================= progressive ================================*/
.l-progressive {
  min-height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  transition: all 300ms ease-in;
  background: white; }
  .l-progressive div {
    position: relative; }
  @media screen and (min-width: 374px) and (max-width: 425px) {
    .l-progressive .btn-toggle {
      display: block; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .l-progressive .btn-toggle {
      display: block; } }
  @media screen and (min-width: 1024px) and (max-width: 1600px) {
    .l-progressive .btn-toggle {
      display: none; } }
  .l-progressive.active {
    display: block; }
  .l-progressive header {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase; }
  .l-progressive__primary-sidebar {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 220px;
    -ms-flex: 0 1 220px;
    flex: 0 1 220px;
    position: relative;
    border-right: 1px solid #b1b1bc; }
    @media screen and (min-width: 320px) and (max-width: 33.9em) {
      .l-progressive__primary-sidebar {
        display: none; }
        .l-progressive__primary-sidebar.is-active {
          display: block; } }
    @media screen and (min-width: 374px) and (max-width: 425px) {
      .l-progressive__primary-sidebar {
        display: none; } }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .l-progressive__primary-sidebar {
        display: none; } }
    @media screen and (min-width: 1024px) and (max-width: 1600px) {
      .l-progressive__primary-sidebar {
        display: block; }
        .l-progressive__primary-sidebar.is-passive {
          display: block; } }
  .l-progressive__secondary-content {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex: 2 0 35%;
    -ms-flex: 2 0 35%;
    flex: 2 0 35%;
    position: relative;
    border-right: 1px solid #b1b1bc; }
    @media screen and (min-width: 320px) and (max-width: 33.9em) {
      .l-progressive__secondary-content {
        display: none; }
        .l-progressive__secondary-content.is-active {
          display: block; } }
    @media screen and (min-width: 374px) and (max-width: 425px) {
      .l-progressive__secondary-content {
        display: none; }
        .l-progressive__secondary-content.is-active {
          display: block; } }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .l-progressive__secondary-content {
        display: block; } }
    @media screen and (min-width: 1024px) and (max-width: 1600px) {
      .l-progressive__secondary-content {
        display: block; }
        .l-progressive__secondary-content.is-passive {
          display: block !important; } }
  .l-progressive__primary-content {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-flex: 4 4 50%;
    -ms-flex: 4 4 50%;
    flex: 4 4 50%;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    position: relative; }
    @media screen and (min-width: 320px) and (max-width: 33.9em) {
      .l-progressive__primary-content {
        display: none; }
        .l-progressive__primary-content.is-active {
          display: block; } }
    @media screen and (min-width: 374px) and (max-width: 425px) {
      .l-progressive__primary-content {
        display: none; }
        .l-progressive__primary-content.is-active {
          display: block; } }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .l-progressive__primary-content {
        display: block; } }
    @media screen and (min-width: 1024px) and (max-width: 1600px) {
      .l-progressive__primary-content {
        display: block; }
        .l-progressive__primary-content.is-passive {
          display: block !important; } }
    .l-progressive__primary-content.is-active {
      display: block; }
    .l-progressive__primary-content.is-passive {
      display: none; }
  .l-progressive__secondary-sidebar {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -webkit-flex: 1 1 15%;
    -ms-flex: 1 1 15%;
    flex: 1 1 15%;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    position: relative;
    border-left: 1px solid #b1b1bc; }
    @media screen and (min-width: 320px) and (max-width: 33.9em) {
      .l-progressive__secondary-sidebar {
        display: none; } }
    @media screen and (min-width: 374px) and (max-width: 425px) {
      .l-progressive__secondary-sidebar {
        display: none; } }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .l-progressive__secondary-sidebar {
        display: none; } }
    @media screen and (min-width: 1024px) and (max-width: 1600px) {
      .l-progressive__secondary-sidebar {
        display: block; } }
