.l-fg3 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .l-fg3 > div {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin: -10px; }
    @media (min-width: 600px) {
      .l-fg3 > div {
        margin: 10px;
        -webkit-flex-basis: calc(33.333% - 20px);
        -ms-flex-preferred-size: calc(33.333% - 20px);
        flex-basis: calc(33.333% - 20px); } }
  @media (min-width: 600px) {
    .l-fg3 > div:nth-child(1),
    .l-fg3 > div:nth-child(2) {
      -webkit-flex-basis: calc(50% - 20px);
      -ms-flex-preferred-size: calc(50% - 20px);
      flex-basis: calc(50% - 20px); } }

.l-flex {
  overflow-x: hidden; }

.l-3-col-grid:after, .l-3-col-grid:before,
.l-g3:after,
.l-g3:before {
  display: table;
  content: ' '; }

.l-3-col-grid:after,
.l-g3:after {
  clear: both; }

@media (min-width: 600px) {
  .l-3-col-grid,
  .l-g3 {
    /* Leftmost grid item */
    /* Center grid item */
    /* Rightmost grid item*/ }
    .l-3-col-grid > div:nth-child(3n+1),
    .l-g3 > div:nth-child(3n+1) {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%; }
    .l-3-col-grid > div:nth-child(3n+2),
    .l-g3 > div:nth-child(3n+2) {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%; }
    .l-3-col-grid > div:nth-child(3n+3),
    .l-g3 > div:nth-child(3n+3) {
      float: right;
      width: 32.20339%;
      margin-right: 0; } }

/**
 * ===========================================
 * Off Canvas
 * ===========================================
 */
/**
 * ===========================================
 * Split View
 * ===========================================
 */
.splitview {
  position: relative;
  /* ---------------Helpers--------------------------- */ }
  .splitview__sidebar {
    background-color: #3b3b3f; }
  .splitview__col--primary {
    background-color: blue; }
  .splitview__col--secondary {
    background-color: crimson; }
    @media (min-width: 1200px) {
      .splitview__col--secondary {
        background-color: green; } }
    @media (min-width: 767px) {
      .splitview__col--secondary {
        background-color: lime;
        width: 100vw;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }
  .splitview .splitview-sidebar-right {
    /* Design here */
    background-color: #3b3b3f; }
  .splitview .splitview-sidebar-left {
    /* Design here */
    background-color: #3b3b3f; }
  .splitview .splitview-secondary {
    /* Design here */ }
  .splitview .splitview-primary {
    /* Design here */ }
  .splitview .splitview-hide {
    display: none !important; }
  .splitview__col {
    height: 100vh;
    display: inline;
    position: absolute;
    width: 100%;
    transition: all 0.4s ease; }
    .splitview__col--is-passive {
      width: 0;
      opacity: 0.5; }
    .splitview__col--is-active {
      width: auto;
      opacity: 1; }
    .splitview__col--primary {
      right: 0; }
      @media (min-width: 1200px) {
        .splitview__col--primary {
          display: inline;
          position: absolute;
          right: 16%;
          width: 40%; } }
      @media (min-width: 767px) {
        .splitview__col--primary {
          position: absolute;
          width: 59%;
          opacity: 1; } }
    .splitview__col--secondary {
      left: 0;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      @media (min-width: 1200px) {
        .splitview__col--secondary {
          position: absolute;
          left: 16%;
          width: 27%; } }
      @media (min-width: 767px) {
        .splitview__col--secondary {
          position: absolute;
          width: 40%;
          opacity: 1; } }
  .splitview__sidebar {
    height: 100%;
    height: 100vh;
    display: inline;
    position: absolute;
    width: 25%;
    transition: all 0.4s ease;
    will-change: translate;
    z-index: auto; }
    .splitview__sidebar--left {
      left: 0; }
    .splitview__sidebar--right {
      right: 0; }
    .splitview__sidebar--is-closed {
      opacity: 0;
      width: 0;
      z-index: -1; }
    .splitview__sidebar--is-opened {
      opacity: 1;
      width: auto;
      z-index: 1001; }
    @media (min-width: 1200px) {
      .splitview__sidebar {
        opacity: 1 !important;
        width: 15% !important; } }
  .splitview .splitview-hide {
    display: inherit; }
    @media (min-width: 1200px) {
      .splitview .splitview-hide {
        display: none !important; } }

.splitview-hide-splitScreen {
  display: none !important; }

body {
  padding: 0;
  margin: 0; }

.l-container--progressive {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  transition: all 300ms ease-in; }
  @media (max-width: 330px) {
    .l-container--progressive .btn-toggle {
      display: block; } }
  @media (min-width: 767px) {
    .l-container--progressive .btn-toggle {
      display: block; } }
  @media (min-width: 992px) {
    .l-container--progressive .btn-toggle {
      display: none; } }
  .l-container--progressive > div {
    position: relative;
    background: #eee;
    border: 1px solid #ccc;
    margin-right: -1px; }
    .l-container--progressive > div.active {
      display: block; }
    .l-container--progressive > div header {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 10px 5px;
      background: #ddd;
      text-transform: uppercase; }
    .l-container--progressive > div:nth-child(1) {
      -webkit-flex-basis: 220px;
      -ms-flex-preferred-size: 220px;
      flex-basis: 220px;
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 0 1 15%;
      -ms-flex: 0 1 15%;
      flex: 0 1 15%; }
      @media (max-width: 330px) {
        .l-container--progressive > div:nth-child(1) {
          display: none; } }
      @media (min-width: 767px) {
        .l-container--progressive > div:nth-child(1) {
          display: none; } }
      @media (min-width: 992px) {
        .l-container--progressive > div:nth-child(1) {
          display: block; } }
    .l-container--progressive > div:nth-child(2) {
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
      -webkit-flex: 2 2 25%;
      -ms-flex: 2 2 25%;
      flex: 2 2 25%; }
      @media (min-width: 767px) {
        .l-container--progressive > div:nth-child(2) {
          display: none; } }
      @media (min-width: 992px) {
        .l-container--progressive > div:nth-child(2) {
          display: block; } }
      .l-container--progressive > div:nth-child(2).active {
        display: block; }
    .l-container--progressive > div:nth-child(3) {
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2;
      -webkit-flex: 4 4 50%;
      -ms-flex: 4 4 50%;
      flex: 4 4 50%;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto; }
      @media (max-width: 330px) {
        .l-container--progressive > div:nth-child(3) {
          display: none; } }
      @media (min-width: 767px) {
        .l-container--progressive > div:nth-child(3) {
          display: none; } }
      @media (min-width: 992px) {
        .l-container--progressive > div:nth-child(3) {
          display: block; } }
      .l-container--progressive > div:nth-child(3).active {
        display: block; }
    .l-container--progressive > div:nth-child(4) {
      -webkit-order: 3;
      -ms-flex-order: 3;
      order: 3;
      -webkit-flex: 1 1 15%;
      -ms-flex: 1 1 15%;
      flex: 1 1 15%;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto; }
      @media (max-width: 330px) {
        .l-container--progressive > div:nth-child(4) {
          display: none; } }
      @media (min-width: 767px) {
        .l-container--progressive > div:nth-child(4) {
          display: none; } }
      @media (min-width: 992px) {
        .l-container--progressive > div:nth-child(4) {
          display: block; } }

@media (min-width: 600px) {
  .l-content-sidebar > div:nth-child(1),
  .l-cs > div:nth-child(1) {
    float: left;
    width: 74.57627%; } }

@media (min-width: 600px) {
  .l-content-sidebar > div:nth-child(2),
  .l-cs > div:nth-child(2) {
    float: right;
    width: 23.72881%; } }
