/*------------------------------------*    #PX-COLORS-DESIGN
\*------------------------------------*/
/**
 * Brand Colors
 */
/**
     * Primary
     */
/**
     * Light
     */
/**
     * Dark
     */
/**
 * Monochromatic (gray10 is darkest, gray1 is lightest)
 */
/**
 * Define grey = gray to avoid dev typos
 */
/**
 * Buttons
 */
/**
 * Selection
 */
/**
 * Alerts
 */
/**
 * Data Visualization
 */
/**
     * Basic
     */
/**
     * Light
     */
/**
     * Dark
     */
/*
360px => 22.5em
460px => 28.75em
736px => 46em
768px => 48em
1024px => 64em
1080px => 67.5em
1200px =>
1280px => 80em

palm = 44.9375em
lap-and-up = 45em
lap = 45em - 63.9375em
portable = 63.9375em
desk <=64em
retina =


*/
/** Debug Media Query Colors */
.color-xs {
  color: #e9c069 !important; }

.color-sm {
  color: #93d973 !important; }

.color-md {
  color: #e96969 !important; }

.color-lg {
  color: #69d3e9 !important; }

.color-xl {
  color: purple !important; }

.color-palm {
  color: #dfa426 !important; }

.color-portable {
  color: #65c937 !important; }

.color-lap {
  color: #df2626 !important; }

.color-desk {
  color: #340034 !important; }

.color-lap-and-up {
  color: #26bfdf !important; }

.color-retina {
  color: blue !important; }

@media screen and (max-width: 44.9375em) {
  .debug-old-breakpoints .responsive-demo {
    background-color: #dfa426 !important; } }

@media screen and (min-width: 45em) and (max-width: 63.9375em) {
  .debug-old-breakpoints .responsive-demo {
    background-color: #df2626 !important; } }

@media screen and (min-width: 45em) {
  .debug-old-breakpoints .responsive-demo {
    background-color: #26bfdf !important; } }

@media screen and (max-width: 63.9375em) {
  .debug-old-breakpoints .responsive-demo {
    background-color: #65c937 !important; } }

@media screen and (min-width: 64em) {
  .debug-old-breakpoints .responsive-demo {
    background-color: #340034 !important; } }

@media screen and (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .debug-old-breakpoints .responsive-demo {
    background-color: blue !important; } }

@media (min-width: 330px) {
  .debug-new-breakpoints .responsive-demo {
    background-color: #e9c069 !important; } }

@media (min-width: 480px) {
  .debug-new-breakpoints .responsive-demo {
    background-color: #93d973 !important; } }

@media (min-width: 768px) {
  .debug-new-breakpoints .responsive-demo {
    background-color: #e96969 !important; } }

@media (min-width: 992px) {
  .debug-new-breakpoints .responsive-demo {
    background-color: #69d3e9 !important; } }

@media (min-width: 1200px) {
  .debug-new-breakpoints .responsive-demo {
    background-color: purple !important; } }
