/*------------------------------------*    #PX-COLORS-DESIGN
\*------------------------------------*/
/**
 * Brand Colors
 */
/**
     * Primary
     */
/**
     * Light
     */
/**
     * Dark
     */
/**
 * Monochromatic (gray10 is darkest, gray1 is lightest)
 */
/**
 * Define grey = gray to avoid dev typos
 */
/**
 * Buttons
 */
/**
 * Selection
 */
/**
 * Alerts
 */
/**
 * Data Visualization
 */
/**
     * Basic
     */
/**
     * Light
     */
/**
     * Dark
     */
/*================================= Off Canvas ================================*/
.l-offcanvas {
  min-height: 90vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  transition: all 300ms ease-in;
  overflow: hidden; }
  .l-offcanvas__primary-content {
    transition: all 300ms ease-in;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-flex-grow: 5;
        -ms-flex-positive: 5;
            flex-grow: 5; }
  .l-offcanvas__secondary-content {
    position: relative;
    min-width: 200px;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    -webkit-align-self: auto;
        -ms-flex-item-align: auto;
            align-self: auto;
    transition: all 300ms ease-in; }
    .l-offcanvas__secondary-content.is-active {
      display: block;
      visibility: visible !important;
      -webkit-transform: translateX(0) !important;
              transform: translateX(0) !important; }
    .l-offcanvas__secondary-content.is-passive {
      display: none !important;
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%); }
    @media screen and (max-width: 320px) {
      .l-offcanvas__secondary-content {
        position: absolute;
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%); }
        .l-offcanvas__secondary-content.is-active {
          visibility: visible;
          -webkit-transform: translateX(0);
                  transform: translateX(0); } }
    @media screen and (min-width: 375px) and (max-width: 425px) {
      .l-offcanvas__secondary-content {
        position: absolute !important;
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%); }
        .l-offcanvas__secondary-content.is-passive {
          display: none !important; } }
    @media screen and (min-width: 375px) and (max-width: 425px) {
      .l-offcanvas__secondary-content {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%); }
        .l-offcanvas__secondary-content.is-passive {
          display: none !important;
          -webkit-transform: translateX(-100%);
                  transform: translateX(-100%); }
        .l-offcanvas__secondary-content.is-active {
          display: block !important;
          -webkit-transform: translateX(0);
                  transform: translateX(0); } }
    @media screen and (min-width: 1024px) and (max-width: 1200px) {
      .l-offcanvas__secondary-content {
        -webkit-flex: 1 0 200px;
            -ms-flex: 1 0 200px;
                flex: 1 0 200px;
        display: block;
        -webkit-transform: translateX(0);
                transform: translateX(0); }
        .l-offcanvas__secondary-content.is-active, .l-offcanvas__secondary-content.is-passive {
          visibility: visible !important;
          -webkit-transform: translateX(0) !important;
                  transform: translateX(0) !important; } }

/*================================= Split View ================================*/
.l-splitview {
  background: white;
  min-height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  transition: all 300ms ease-in;
  overflow: hidden;
  position: relative; }
  .l-splitview__secondary-content {
    position: relative;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    -webkit-flex: 1 1 200px;
        -ms-flex: 1 1 200px;
            flex: 1 1 200px;
    -webkit-align-self: auto;
        -ms-flex-item-align: auto;
            align-self: auto;
    transition: all 0.4s ease;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    border-right: 1px solid #b1b1bc; }
    @media screen and (max-width: 320px) {
      .l-splitview__secondary-content {
        display: none; } }
    @media screen and (min-width: 375px) and (max-width: 425px) {
      .l-splitview__secondary-content {
        display: none; }
        .l-splitview__secondary-content.is-active {
          display: block; } }
    @media screen and (min-width: 768px) and (max-width: 979px) {
      .l-splitview__secondary-content {
        display: none; }
        .l-splitview__secondary-content.is-active {
          display: block; } }
    @media screen and (min-width: 1024px) and (max-width: 1200px) {
      .l-splitview__secondary-content {
        display: block; } }
    @media screen and (min-width: 1280px) {
      .l-splitview__secondary-content {
        display: block; } }
  .l-splitview__primary-content {
    position: relative;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-align-self: auto;
        -ms-flex-item-align: auto;
            align-self: auto;
    -webkit-flex-grow: 2;
        -ms-flex-positive: 2;
            flex-grow: 2; }
    @media screen and (max-width: 320px) {
      .l-splitview__primary-content {
        display: none; }
        .l-splitview__primary-content.is-active {
          display: block !important; } }
    @media screen and (min-width: 375px) and (max-width: 425px) {
      .l-splitview__primary-content {
        display: none; } }
    @media screen and (min-width: 768px) and (max-width: 979px) {
      .l-splitview__primary-content {
        display: none; } }
    @media screen and (min-width: 1024px) and (max-width: 1200px) {
      .l-splitview__primary-content {
        display: block; } }

/*================================= progressive ================================*/
.l-progressive {
  min-height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  transition: all 300ms ease-in;
  background: white; }
  .l-progressive div {
    position: relative; }
  @media screen and (min-width: 375px) and (max-width: 425px) {
    .l-progressive .btn-toggle {
      display: block; } }
  @media screen and (min-width: 768px) and (max-width: 979px) {
    .l-progressive .btn-toggle {
      display: block; } }
  @media screen and (min-width: 1024px) and (max-width: 1200px) {
    .l-progressive .btn-toggle {
      display: none; } }
  .l-progressive.active {
    display: block; }
  .l-progressive header {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase; }
  .l-progressive__primary-sidebar {
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    -webkit-flex: 0 1 220px;
        -ms-flex: 0 1 220px;
            flex: 0 1 220px;
    position: relative;
    border-right: 1px solid #b1b1bc; }
    @media screen and (max-width: 320px) {
      .l-progressive__primary-sidebar {
        display: none; }
        .l-progressive__primary-sidebar.is-active {
          display: block; } }
    @media screen and (min-width: 375px) and (max-width: 425px) {
      .l-progressive__primary-sidebar {
        display: none; } }
    @media screen and (min-width: 768px) and (max-width: 979px) {
      .l-progressive__primary-sidebar {
        display: none; } }
    @media screen and (min-width: 1024px) and (max-width: 1200px) {
      .l-progressive__primary-sidebar {
        display: block; }
        .l-progressive__primary-sidebar.is-passive {
          display: block; } }
  .l-progressive__secondary-content {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    -webkit-flex: 2 0 35%;
        -ms-flex: 2 0 35%;
            flex: 2 0 35%;
    position: relative;
    border-right: 1px solid #b1b1bc; }
    @media screen and (max-width: 320px) {
      .l-progressive__secondary-content {
        display: none; }
        .l-progressive__secondary-content.is-active {
          display: block; } }
    @media screen and (min-width: 375px) and (max-width: 425px) {
      .l-progressive__secondary-content {
        display: none; }
        .l-progressive__secondary-content.is-active {
          display: block; } }
    @media screen and (min-width: 768px) and (max-width: 979px) {
      .l-progressive__secondary-content {
        display: block; } }
    @media screen and (min-width: 1024px) and (max-width: 1200px) {
      .l-progressive__secondary-content {
        display: block; }
        .l-progressive__secondary-content.is-passive {
          display: block !important; } }
  .l-progressive__primary-content {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    -webkit-flex: 4 4 50%;
        -ms-flex: 4 4 50%;
            flex: 4 4 50%;
    -webkit-align-self: auto;
        -ms-flex-item-align: auto;
            align-self: auto;
    position: relative; }
    @media screen and (max-width: 320px) {
      .l-progressive__primary-content {
        display: none; }
        .l-progressive__primary-content.is-active {
          display: block; } }
    @media screen and (min-width: 375px) and (max-width: 425px) {
      .l-progressive__primary-content {
        display: none; }
        .l-progressive__primary-content.is-active {
          display: block; } }
    @media screen and (min-width: 768px) and (max-width: 979px) {
      .l-progressive__primary-content {
        display: block; } }
    @media screen and (min-width: 1024px) and (max-width: 1200px) {
      .l-progressive__primary-content {
        display: block; }
        .l-progressive__primary-content.is-passive {
          display: block !important; } }
    .l-progressive__primary-content.is-active {
      display: block; }
    .l-progressive__primary-content.is-passive {
      display: none; }
  .l-progressive__secondary-sidebar {
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    -webkit-flex: 1 1 15%;
        -ms-flex: 1 1 15%;
            flex: 1 1 15%;
    -webkit-align-self: auto;
        -ms-flex-item-align: auto;
            align-self: auto;
    position: relative;
    border-left: 1px solid #b1b1bc; }
    @media screen and (max-width: 320px) {
      .l-progressive__secondary-sidebar {
        display: none; } }
    @media screen and (min-width: 375px) and (max-width: 425px) {
      .l-progressive__secondary-sidebar {
        display: none; } }
    @media screen and (min-width: 768px) and (max-width: 979px) {
      .l-progressive__secondary-sidebar {
        display: none; } }
    @media screen and (min-width: 1024px) and (max-width: 1200px) {
      .l-progressive__secondary-sidebar {
        display: block; } }

.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.flex--row {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.flex--row--rev {
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.flex--col {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex--col--rev {
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

.flex--nowrap {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

.flex--wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.flex--wrap--rev {
  -webkit-flex-wrap: wrap-reverse;
      -ms-flex-wrap: wrap-reverse;
          flex-wrap: wrap-reverse; }

.flex--left {
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.flex--center {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex--right {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.flex--justify {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flex--spaced {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.flex--top {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.flex--middle {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.flex--bottom {
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.flex--stretch {
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.flex--baseline {
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.flex--top--multi {
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start; }

.flex--middle--multi {
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }

.flex--bottom--multi {
  -webkit-align-content: flex-end;
      -ms-flex-line-pack: end;
          align-content: flex-end; }

.flex--stretch--multi {
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch; }

.flex--justify--multi {
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between; }

.flex--spaced--multi {
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around; }

.flex__item {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.flex__item--top {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start; }

.flex__item--middle {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.flex__item--bottom {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }

.flex__item--baseline {
  -webkit-align-self: baseline;
      -ms-flex-item-align: baseline;
          align-self: baseline; }

/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.u-(m|p)(t|r|b|l|h|v)(-|+|0) {}` = utility - margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */
/**
     * Margin helper classes.
     *
     * Add margins.
     */
.u-m {
  margin: 1rem !important; }

.u-mt {
  margin-top: 1rem !important; }

.u-mr {
  margin-right: 1rem !important; }

.u-mb {
  margin-bottom: 1rem !important; }

.u-ml {
  margin-left: 1rem !important; }

.u-mh {
  margin-right: 1rem !important;
  margin-left: 1rem !important; }

.u-mv {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important; }

/**
     * Remove margins.
     */
.u-m0 {
  margin: 0 !important; }

.u-mt0 {
  margin-top: 0 !important; }

.u-mr0 {
  margin-right: 0 !important; }

.u-mb0 {
  margin-bottom: 0 !important; }

.u-ml0 {
  margin-left: 0 !important; }

.u-mh0 {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.u-mv0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

/**
     * Padding helper classes.
     *
     * Add paddings.
     */
.u-p {
  padding: 1rem !important; }

.u-pt {
  padding-top: 1rem !important; }

.u-pr {
  padding-right: 1rem !important; }

.u-pb {
  padding-bottom: 1rem !important; }

.u-pl {
  padding-left: 1rem !important; }

.u-ph {
  padding-right: 1rem !important;
  padding-left: 1rem !important; }

.u-pv {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important; }

/**
 * A series of width helper classes that you can use to size things like grid
 * systems. Classes can take a fraction-like format (e.g. `.u-2/3`) or a spoken-
 * word format (e.g. `.u-2-of-3`).
 *
 */
.u-1\/1 {
  width: 100% !important; }

.u-1\/2 {
  width: 50% !important;
  -webkit-flex: none !important;
      -ms-flex: none !important;
          flex: none !important; }

.u-1\/3 {
  width: 33.3333333333% !important;
  -webkit-flex: none !important;
      -ms-flex: none !important;
          flex: none !important; }

.u-2\/3 {
  width: 66.6666666667% !important;
  -webkit-flex: none !important;
      -ms-flex: none !important;
          flex: none !important; }

.u-1\/4 {
  width: 25% !important;
  -webkit-flex: none !important;
      -ms-flex: none !important;
          flex: none !important; }

.u-2\/4 {
  width: 50% !important;
  -webkit-flex: none !important;
      -ms-flex: none !important;
          flex: none !important; }

.u-3\/4 {
  width: 75% !important;
  -webkit-flex: none !important;
      -ms-flex: none !important;
          flex: none !important; }

.u-1\/6 {
  width: 16.6666666667% !important;
  -webkit-flex: none !important;
      -ms-flex: none !important;
          flex: none !important; }

.u-2\/6 {
  width: 33.3333333333% !important;
  -webkit-flex: none !important;
      -ms-flex: none !important;
          flex: none !important; }

.u-3\/6 {
  width: 50% !important;
  -webkit-flex: none !important;
      -ms-flex: none !important;
          flex: none !important; }

.u-4\/6 {
  width: 66.6666666667% !important;
  -webkit-flex: none !important;
      -ms-flex: none !important;
          flex: none !important; }

.u-5\/6 {
  width: 83.3333333333% !important;
  -webkit-flex: none !important;
      -ms-flex: none !important;
          flex: none !important; }

@media screen and (max-width: 44.9375em) {
  .u-1\/1-palm {
    width: 100% !important; }
  .u-1\/2-palm {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/3-palm {
    width: 33.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/3-palm {
    width: 66.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/4-palm {
    width: 25% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/4-palm {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-3\/4-palm {
    width: 75% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/6-palm {
    width: 16.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/6-palm {
    width: 33.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-3\/6-palm {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-4\/6-palm {
    width: 66.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-5\/6-palm {
    width: 83.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; } }

@media screen and (min-width: 45em) and (max-width: 63.9375em) {
  .u-1\/1-lap {
    width: 100% !important; }
  .u-1\/2-lap {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/3-lap {
    width: 33.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/3-lap {
    width: 66.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/4-lap {
    width: 25% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/4-lap {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-3\/4-lap {
    width: 75% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/6-lap {
    width: 16.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/6-lap {
    width: 33.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-3\/6-lap {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-4\/6-lap {
    width: 66.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-5\/6-lap {
    width: 83.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; } }

@media screen and (min-width: 45em) {
  .u-1\/1-lap-and-up {
    width: 100% !important; }
  .u-1\/2-lap-and-up {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/3-lap-and-up {
    width: 33.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/3-lap-and-up {
    width: 66.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/4-lap-and-up {
    width: 25% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/4-lap-and-up {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-3\/4-lap-and-up {
    width: 75% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/6-lap-and-up {
    width: 16.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/6-lap-and-up {
    width: 33.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-3\/6-lap-and-up {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-4\/6-lap-and-up {
    width: 66.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-5\/6-lap-and-up {
    width: 83.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; } }

@media screen and (max-width: 63.9375em) {
  .u-1\/1-portable {
    width: 100% !important; }
  .u-1\/2-portable {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/3-portable {
    width: 33.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/3-portable {
    width: 66.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/4-portable {
    width: 25% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/4-portable {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-3\/4-portable {
    width: 75% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/6-portable {
    width: 16.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/6-portable {
    width: 33.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-3\/6-portable {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-4\/6-portable {
    width: 66.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-5\/6-portable {
    width: 83.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; } }

@media screen and (min-width: 64em) {
  .u-1\/1-desk {
    width: 100% !important; }
  .u-1\/2-desk {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/3-desk {
    width: 33.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/3-desk {
    width: 66.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/4-desk {
    width: 25% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/4-desk {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-3\/4-desk {
    width: 75% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/6-desk {
    width: 16.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/6-desk {
    width: 33.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-3\/6-desk {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-4\/6-desk {
    width: 66.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-5\/6-desk {
    width: 83.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; } }

@media screen and (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .u-1\/1-retina {
    width: 100% !important; }
  .u-1\/2-retina {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/3-retina {
    width: 33.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/3-retina {
    width: 66.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/4-retina {
    width: 25% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/4-retina {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-3\/4-retina {
    width: 75% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/6-retina {
    width: 16.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/6-retina {
    width: 33.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-3\/6-retina {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-4\/6-retina {
    width: 66.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-5\/6-retina {
    width: 83.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; } }

@media screen and (max-width: 320px) {
  .u-1\/1-xs {
    width: 100% !important; }
  .u-1\/2-xs {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/3-xs {
    width: 33.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/3-xs {
    width: 66.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/4-xs {
    width: 25% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/4-xs {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-3\/4-xs {
    width: 75% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/6-xs {
    width: 16.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/6-xs {
    width: 33.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-3\/6-xs {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-4\/6-xs {
    width: 66.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-5\/6-xs {
    width: 83.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; } }

@media screen and (min-width: 375px) and (max-width: 425px) {
  .u-1\/1-sm {
    width: 100% !important; }
  .u-1\/2-sm {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/3-sm {
    width: 33.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/3-sm {
    width: 66.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/4-sm {
    width: 25% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/4-sm {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-3\/4-sm {
    width: 75% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/6-sm {
    width: 16.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/6-sm {
    width: 33.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-3\/6-sm {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-4\/6-sm {
    width: 66.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-5\/6-sm {
    width: 83.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; } }

@media screen and (min-width: 768px) and (max-width: 979px) {
  .u-1\/1-md {
    width: 100% !important; }
  .u-1\/2-md {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/3-md {
    width: 33.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/3-md {
    width: 66.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/4-md {
    width: 25% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/4-md {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-3\/4-md {
    width: 75% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/6-md {
    width: 16.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/6-md {
    width: 33.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-3\/6-md {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-4\/6-md {
    width: 66.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-5\/6-md {
    width: 83.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .u-1\/1-lg {
    width: 100% !important; }
  .u-1\/2-lg {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/3-lg {
    width: 33.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/3-lg {
    width: 66.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/4-lg {
    width: 25% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/4-lg {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-3\/4-lg {
    width: 75% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/6-lg {
    width: 16.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/6-lg {
    width: 33.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-3\/6-lg {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-4\/6-lg {
    width: 66.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-5\/6-lg {
    width: 83.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; } }

@media screen and (min-width: 1280px) {
  .u-1\/1-xl {
    width: 100% !important; }
  .u-1\/2-xl {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/3-xl {
    width: 33.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/3-xl {
    width: 66.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/4-xl {
    width: 25% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/4-xl {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-3\/4-xl {
    width: 75% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-1\/6-xl {
    width: 16.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-2\/6-xl {
    width: 33.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-3\/6-xl {
    width: 50% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-4\/6-xl {
    width: 66.6666666667% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
  .u-5\/6-xl {
    width: 83.3333333333% !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; } }

.u-1\/1 {
  width: 100% !important; }

.u-1\/2 {
  width: 50% !important;
  -webkit-flex: none !important;
      -ms-flex: none !important;
          flex: none !important; }

.u-1\/3 {
  width: 33.3333333333% !important;
  -webkit-flex: none !important;
      -ms-flex: none !important;
          flex: none !important; }

.u-2\/3 {
  width: 66.6666666667% !important;
  -webkit-flex: none !important;
      -ms-flex: none !important;
          flex: none !important; }

.u-1\/4 {
  width: 25% !important;
  -webkit-flex: none !important;
      -ms-flex: none !important;
          flex: none !important; }

.u-2\/4 {
  width: 50% !important;
  -webkit-flex: none !important;
      -ms-flex: none !important;
          flex: none !important; }

.u-3\/4 {
  width: 75% !important;
  -webkit-flex: none !important;
      -ms-flex: none !important;
          flex: none !important; }

.u-1\/6 {
  width: 16.6666666667% !important;
  -webkit-flex: none !important;
      -ms-flex: none !important;
          flex: none !important; }

.u-2\/6 {
  width: 33.3333333333% !important;
  -webkit-flex: none !important;
      -ms-flex: none !important;
          flex: none !important; }

.u-3\/6 {
  width: 50% !important;
  -webkit-flex: none !important;
      -ms-flex: none !important;
          flex: none !important; }

.u-4\/6 {
  width: 66.6666666667% !important;
  -webkit-flex: none !important;
      -ms-flex: none !important;
          flex: none !important; }

.u-5\/6 {
  width: 83.3333333333% !important;
  -webkit-flex: none !important;
      -ms-flex: none !important;
          flex: none !important; }

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em; }

::-webkit-scrollbar-thumb {
  background: #3b3b3f; }

::-webkit-scrollbar-track {
  background: #9d9d9f; }

body {
  scrollbar-face-color: #3b3b3f;
  scrollbar-track-color: #9d9d9f; }

@media (max-width: 991px) {
  .viewport {
    max-width: 100rem;
    margin: 0;
    padding: 0; } }

@media (min-width: 992px) {
  .viewport {
    max-width: 80rem;
    padding: auto;
    margin: auto; } }

.invisible {
  visibility: hidden !important; }

@media (min-width: 330px) {
  .hidden-xs-up {
    display: none !important; } }

@media (max-width: 479px) {
  .hidden-xs-down {
    display: none !important; } }

@media (min-width: 480px) {
  .hidden-sm-up {
    display: none !important; } }

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important; } }

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important; } }

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important; } }

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important; } }

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important; } }

.hidden-xl-down {
  display: none !important; }

:root html, :root body {
  margin-bottom: 0 !important; }

/** Debug Media Query Colors */
.color-xs {
  color: #e9c069 !important; }

.color-sm {
  color: #93d973 !important; }

.color-md {
  color: #e96969 !important; }

.color-lg {
  color: #69d3e9 !important; }

.color-xl {
  color: purple !important; }

.color-palm {
  color: gold !important; }

.color-portable {
  color: red !important; }

.color-lap {
  color: forestgreen !important; }

.color-desk {
  color: purple !important; }

.color-lap-and-up {
  color: plum !important; }

.color-retina {
  color: blue !important; }

/*

//palm
@include media-breakpoint(palm){
  .responsive-demo {
		background-color: $color-palm !important;
	}
}
//lap
@include media-breakpoint(lap){
	.responsive-demo {
		background-color: $color-lap !important;
	}
}
//lap-and-up
@include media-breakpoint(lap-and-up){
	.responsive-demo {
		background-color: $color-lap-and-up !important;
	}
}
//portable
@include media-breakpoint(portable){
	.responsive-demo {
		background-color: $color-portable !important;
	}
}
///desk
@include media-breakpoint(desk){
	.responsive-demo {
		background-color: $color-desk !important;
	}
}
//retina
@include media-breakpoint(retina){
	.responsive-demo {
		background-color: $color-retina !important;
	}
}
*/
@media screen and (max-width: 320px) {
  .responsive-demo {
    background-color: #e9c069 !important; } }

@media screen and (min-width: 375px) and (max-width: 425px) {
  .responsive-demo {
    background-color: #93d973 !important; } }

@media screen and (min-width: 768px) and (max-width: 979px) {
  .responsive-demo {
    background-color: #e96969 !important; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .responsive-demo {
    background-color: #69d3e9 !important; } }

@media screen and (min-width: 1280px) {
  .responsive-demo {
    background-color: purple !important; } }
