@import "px-colors-design/_settings.colors.scss";
@import "px-mobile-design/sass/_variables.scss";
/// @type List [default] - By default we will create wholes, halves, thirds, quarters, and sixths. Predefine this Map to override.
$inuit-widths-columns-responsive: ( 1, 2, 3, 4, 6);
// These can be invoked later on via the `media-query()` mixin found in
// `_tools.responsive`.
$layout-min-height              : 90vh;
// If we have included this file, set a variable to tell the rest of the
// framework that we have some responsive settings.
$inuit-responsive-settings      : true;
$inuit-enable-margins--none     : true;
$inuit-enable-code--inline      : true;
$inuit-enable-responsive-margins: true;
$inuit-enable-margins           : true;
$inuit-enable-paddings          : true;
/*
360px => 22.5em
460px => 28.75em
736px => 46em
768px => 48em
1024px => 64em
1080px => 67.5em
1200px =>
1280px => 80em

palm = 44.9375em
lap-and-up = 45em
lap = 45em - 63.9375em
portable = 63.9375em
desk <=64em
retina =


*/
