@import "px-colors-design/_settings.colors.scss";

$layout-min-height              : 90vh;

$inuit-widths-columns-responsive: ( 1, 2, 3, 4, 6);
$inuit-responsive-settings      : true;
$inuit-enable-margins--none     : true;
$inuit-enable-code--inline      : true;
$inuit-enable-responsive-margins: true;
$inuit-enable-margins           : true;
$inuit-enable-paddings          : true;
$inuit-use-fractions            : true;

$grid-breakpoints: (
  xs: calculateRem(round(330px)),
  sm: calculateRem(round(480px)),
  md: calculateRem(round(768px)),
  lg: calculateRem(round(992px)),
  xl: calculateRem(round(1200px))
);
/*
360px => 22.5em
460px => 28.75em
736px => 46em
768px => 48em
1024px => 64em
1080px => 67.5em
1200px =>
1280px => 80em

palm = 44.9375em
lap-and-up = 45em
lap = 45em - 63.9375em
portable = 63.9375em
desk <=64em
retina =


*/
