
/// 3. 3 Column Feature Grid Pattern
.l-fg3 {
	display: flex;
	flex-wrap: wrap;

	> div {
		flex-basis: 100%;
		margin: -10px;
		@media (min-width: 600px) {
			margin: 10px;
			flex-basis: calc(33.333% - 20px);
		}
	}
	> div:nth-child(1),
	> div:nth-child(2) {
		@media (min-width: 600px) {
			flex-basis: calc(50% - 20px);
		}
	}
}
.l-flex{
  overflow-x: hidden;
}
