@import "px-mobile-mixin-design/mixins";

/// 2. 3 Column Grid Pattern
.l-3-col-grid,
.l-g3 {
  @include clearfix;
  @media (min-width: 600px) {
    /* Leftmost grid item */
    > div:nth-child(3n+1) {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%;
    }
    /* Center grid item */
    > div:nth-child(3n+2) {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%;
    }
    /* Rightmost grid item*/
    > div:nth-child(3n+3) {
      float: right;
      width: 32.20339%;
      margin-right: 0;
    }
  }
}
