@import 'px-mobile-mixin-design';

body {
  padding: 0;
  margin : 0;
}

.l-container {
  @include modifier ('progressive') {
    height         : 100vh;
    display        : flex;
    flex-direction : row;
    flex-wrap      : nowrap;
    justify-content: space-between;
    align-content  : stretch;
    align-items    : stretch;
    transition     : all 300ms ease-in;

    .btn-toggle {
      @include respond ('small') {
        display: block;
      }

      @include respond ('medium') {
        display: block;
      }

      @include respond ('large') {
        display: none;
      }
    }

    > div {
      position    : relative;
      background  : #eee;
      border      : 1px solid #ccc;
      margin-right: -1px;

      &.active {
        display: block;
      }

      header {
        flex-direction: row;
        display       : flex;
        padding       : 10px 5px;
        background    : #ddd;
        text-transform: uppercase;
      }
      //Sidebar
      &:nth-child(1) {
        flex-basis: 220px;
        order     : 0;
        flex      : 0 1 15%;

        @include respond ('small') {
          display: none;
        }

        @include respond ('medium') {
          display: none;
        }

        @include respond ('large') {
          display: block;
        }
      }
      //Secondary
      &:nth-child(2) {
        order: 1;
        flex : 2 2 25%;

        @include respond ('small') {
          //display:none;
        }

        @include respond ('medium') {
          display: none;
        }

        @include respond ('large') {
          display: block;
        }

        &.active {
          display: block;
        }
      }
      //Primary
      &:nth-child(3) {
        order     : 2;
        flex      : 4 4 50%;
        align-self: auto;

        @include respond ('small') {
          display: none;
        }

        @include respond ('medium') {
          display: none;
        }

        @include respond ('large') {
          display: block;
        }

        &.active {
          display: block;
        }
      }
      //Right Nav
      &:nth-child(4) {
        order     : 3;
        flex      : 1 1 15%;
        align-self: auto;

        @include respond ('small') {
          display: none;
        }

        @include respond ('medium') {
          display: none;
        }

        @include respond ('large') {
          display: block;
        }
      }
    }
  }
}
