@import 'mixins';
@import 'variables';

$splitview-transition: all 0.4s ease;
$splitview-sidebar-width: 25%;
$splitview-right-width: 25%;
$splitview-secondary-border-color: $gray5;
$splitview-background-color: $white;
$splitview-min-height: 99vh;

/*================================= Split View ================================*/
.l-splitview {
  background     : $splitview-background-color;
  min-height     : $splitview-min-height;
  display        : flex;
  flex-direction : row;
  flex-wrap      : nowrap;
  justify-content: space-between;
  align-content  : stretch;
  align-items    : stretch;
  transition     : all 300ms ease-in;
  overflow       : hidden;
  position       : relative;

  @include element ('secondary-content') {
    position    : relative;
    order       : 1;
    flex        : 1 1 200px;
    align-self  : auto;
    transition  : $splitview-transition;
    transform   : translateX(0);
    border-right: 1px solid $splitview-secondary-border-color;

    @include media-query ('xsmall') {
      //display: none;

    }

    @include media-query ('small') {
      // display: none;
    }

    @include media-query ('medium') {
      // display: none;
    }

    @include media-query ('large') {
      display: block;
    }
  }

  @include element ('primary-content') {
    position  : relative;
    order     : 2;
    flex      : 1 0 auto;
    align-self: auto;
    flex-grow : 2;

    @include media-query ('xsmall') {
      //display: none;
    }

    @include media-query ('small') {
      // display: none;
    }

    @include media-query ('medium') {
      // display: none;
    }

    @include media-query ('large') {
      display: block;
    }
  }
}
