@import 'mixins';
@import 'variables';

$splitview-transition: all .4s ease;
$splitview-sidebar-width: 25%;
$splitview-right-width: 25%;
$splitview-secondary-border-color: $gray5;
$splitview-background-color: $white;
$splitview-min-height: 50vh;
$l-splitview-secondary-content-width: 200px;

/*================================= Split View ================================*/
@include b ('l-container') {
  @include m ('splitview') {
    background     : $splitview-background-color;
    min-height     : $splitview-min-height;
    display        : flex;
    flex-direction : row;
    flex-wrap      : nowrap;
    justify-content: space-between;
    align-content  : stretch;
    align-items    : stretch;
    transition     : all 300ms ease-in;
    overflow       : hidden;
    position       : relative;
  }


  @include element ('secondary-content') {
    position    : relative;
    order       : 1;
    flex        : 1 1 var(--l-splitview-secondary-content-width, $l-splitview-secondary-content-width);
    align-self  : auto;
    transition  : $splitview-transition;
    transform   : translateX(0);
    border-right: 1px solid $splitview-secondary-border-color;

    @include media-breakpoint ('xs') {
      //display: none;
    }

    @include media-breakpoint ('sm') {
      //  display: none;

      &.is-active {
        display: block;
      }
    }

    @include media-breakpoint ('md') {
      //  display: none;

      &.is-active {
        display: block;
      }
    }

    @include media-breakpoint ('lg') {
        display: block;
    }

    @include media-breakpoint ('xl') {
        display: block;
    }
  }

  @include element ('primary-content') {
    position  : relative;
    order     : 2;
    flex      : 1 0 300px;
    align-self: auto;
    flex-grow : 2;

    @include media-breakpoint ('xs') {
      //display: none;

      &.is-active {
        display: block !important;
      }
    }

    @include media-breakpoint ('sm') {
      //display: none;
    }

    @include media-breakpoint ('md') {
      //display: none;
    }

    @include media-breakpoint ('lg') {
      //display: block;
    }
  }
}
