@import "px-mobile-mixin-design";
@import "variables";
/**
 * ===========================================
 * Split View
 * ===========================================
 */

/// -----------------------------------------------
/// Vars
$split-view-transition: all 0.4s ease;
$split-view-sidebar-width: 25%;
$split-view-right-width: 25%;
/// -----------------------------------------------
/// Splitview
.splitview {
  position: relative;
  //display : flex;
  @include modifier ('sidebar-right-is-present') {}

  @include modifier ('sidebar-left-is-present') {}
  /// -----------------------------------------------
  /// Style / Colors
  @include element ('sidebar') {
    background-color: $gray9;
  }

  @include element ('col') {
    @include modifier ('primary') {
      background-color: blue;

      @include respond ('desktop') {
        //background-color: green;
      }

      @include respond ('tablet') {
        //background-color:lime;
      }
    }

    @include modifier ('secondary') {
      background-color: crimson;

      @include respond ('desktop') {
        background-color: green;

      }

      @include respond ('tablet') {
        background-color: lime;
        width           : 100vw;
        display         : flex;
      }
    }
  }

  .splitview-sidebar-right {
    /* Design here */
    background-color: $gray9;
  }

  .splitview-sidebar-left {
    /* Design here */
    background-color: $gray9;
  }

  .splitview-secondary {
    /* Design here */
    //background-color: $white;
  }

  .splitview-primary {
    /* Design here */
    //background-color: $white;
  }
  /* ---------------Helpers--------------------------- */
  .splitview-sidebar-right-present {}

  .splitview-sidebar-left-present {}

  .splitview-hide-splitScreen {}

  .splitview-hide-fullScreen {}

  .splitview-hide-primary {}

  .splitview-hide-secondary {}

  .splitview-hide {
    display: none!important;
  }

  @include element ('col') {
    height    : 100vh;
    display   : inline;
    position  : absolute;
    width     : 100%;
    transition: $split-view-transition;

    @include modifier ('is-passive') {
      width  : 0;
      opacity: 0.5;
    }

    @include modifier ('is-active') {
      width  : auto;
      opacity: 1;
    }

    @include modifier ('primary') {
      right: 0;

      @include respond ('desktop') {
        display : inline;
        position: absolute;
        right   : 16%;
        width   : 40%;
      }

      @include respond ('tablet') {
        position: absolute;
        width   : 59%;
        opacity : 1;
      }
    }

    @include modifier ('secondary') {
      left          : 0;
      display       : flex;
      width         : 100%;
      flex-direction: column;
      //Desktop
      @include respond ('desktop') {
        position: absolute;
        left    : 16%;
        width   : 27%;
      }

      //Tablet
      @include respond ('tablet') {
        position: absolute;
        width   : 40%;
        opacity : 1;
      }
    }
  }

  @include element ('sidebar') {
    height     : 100%;
    height     : 100vh;
    display    : inline;
    position   : absolute;
    width      : $split-view-sidebar-width;
    transition : $split-view-transition;
    will-change: translate;
    z-index    : auto;

    @include modifier ('left') {
      left: 0;
    }

    @include modifier ('right') {
      right: 0;
    }

    @include modifier ('is-closed') {
      opacity: 0;
      width  : 0;
      z-index: -1;
    }

    @include modifier ('is-opened') {
      opacity: 1;
      width  : auto;
      z-index: 1001;
    }

    @include respond ('desktop') {
      opacity: 1 !important;
      width  : 15% !important;
    }

  }

  .splitview-hide {
    display: inherit;

    @include respond ('desktop') {
      display: none!important;
    }
  }
}

.splitview-hide-splitScreen {
  display: none!important;
}
