$breakpoints: ( 'x-small': ( min-width: 320px ), 'small': ( min-width: 400px ), 'mobile': ( min-width: 321px ), 'tablet': ( min-width: 768px ), 'desktop': ( min-width: 992px ), 'large': ( min-width: 1200px ) ) !default;
///-----------------------
/// Mixins
@mixin element($element) {
		&__#{$element} {
				@content;
		}
}
@mixin modifier($modifier) {
		&--#{$modifier} {
				@content;
		}
}
@mixin respond($media) {
		@if $media == mobile {
				@media (min-width: 320px) {
						@content;
				}
		}
		@else if $media == tablet {
				@media (min-width: 768px) {
						@content;
				}
		}
		@else if $media == desktop {
				@media (min-width: 1200px) {
						@content;
				}
		}
		@else {
				@warn "Unfortunately, no value could be retrieved from `#{$media}`. " + "Available breakpoints are: #{map-keys($breakpoints)}.";
		}
}
///-----------------------
/// Vars
//GE Brand Colors Light
$black-light: #222;
$red-light: rgb(255,92,92);
$blue-light: rgb(54,147,248);
$green-light: rgb(117,216,53);
$purple-light: rgb(156,151,255);
$orange-light: rgb(255,187,102);
$yellow-light: rgb(255,249,141);
$gray-light: #D3D3D3;
$pink-light: #FFB6C1;
$brown-light: #D2B48C;
///GE Brand Colors Dark
$red-dark: rgb(182,18,37);
$blue-dark: rgb(0,54,110);
$green-dark: rgb(29,95,17);
$pink-dark: rgb(182,18,37);
$purple-dark: rgb(89,81,148);
$orange-dark: rgb(229,92,0);
$yellow-dark: rgb(255,207,69);
//Monochromatic
$black: rgb(0,0,0);
$gray10: rgb(36,35,38);
$gray9: rgb(59,59,63);
$gray8: rgb(82,81,86);
$gray7: rgb(124,124,132);
$gray6: rgb(153,153,163);
$gray5: rgb(177,177,188);
$gray4: rgb(209,208,216);
$gray3: rgb(228,228,234);
$gray2: rgb(239,239,244);
$gray1: rgb(247,247,252);
$white: rgb(255,255,255);
$graybg: rgb(139,141,143);
$primary: rgb(62,135,232);
$primary-hover: rgb(53,115,197);
$primary-pressed: rgb(43,94,162);
$select-default: rgb(10,158,193);
$select-hover: rgb(9,134,164);
body {}
.app {
		background-color: $gray10;
		position: relative;
		height: 100vh;
		overflow: hidden;
		.navbar {
				padding: 5px 8px;
				overflow: hidden;
		}
		.box {
				background: $white;
				//margin: 8px 10px;
				.list-ui {
						border-top: none;
						border-bottom: none;
						> :last-child {
								border-bottom: none;
						}
				}
				header {
						display: block;
						border-bottom: 1px solid $gray6;
						margin-bottom: 0.5rem;
						h3,
						h4 {
								margin: 0;
						}
				}
		}
}
/* ------------------------------------------------- */
/* ---------------BaseStyle------------------------- */
/* ------------------------------------------------- */
/* --Copy this area to customize the control style-- */
/* ------------------------------------------------- */
.demo-history-text {
		position: absolute;
		top: 50%;
		width: 100px;
		margin-left: -50px;
		font-weight: bold;
		-moz-transform: rotate(270deg);
		/* FF3.5+ */
		-o-transform: rotate(270deg);
		/* Opera 10.5 */
		-webkit-transform: rotate(270deg);
		/* Saf3.1+, Chrome */
		filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
		/* IE6,IE7 */
		-ms-filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
		/* IE8 */
}
.breadcrumbview-breadcrumb-container {
		background-color: green;
}
.breadcrumbview-breadcrumb-container ui {
		background-color: yellow;
}
.breadcrumbview-current {
		/* Design here */
		background-color: red;
		height: 100%;
}
.breadcrumbview-history {
		/* Design here */
		background-color: lightgray;
		border-width: 1px;
		border-style: solid;
		height: 100%;
}
/* ------------------------------------------------- */
/* ---------------Helper---------------------------- */
/* ------------------------------------------------- */
.breadcrumbview-hide-history {}
.breadcrumbview-hide-current {}
.breadcrumbview-hide {
		display: none;
}
/* ------------------------------------------------- */
/* ---------------Styles---------------------------- */
/* ------------------------------------------------- */
.breadcrumbview-breadcrumb-container {
		margin: 0;
		padding: 0;
		display: block;
		width: 100%;
		list-style: none;
}
.breadcrumbview-breadcrumb-container li {
		display: inline-block;
		margin-right: 5px;
}
.breadcrumbview-breadcrumb-container > li + li:before {
		padding: 0 5px;
		content: "/\00a0";
}
.breadcrumbview-current {
		display: inline;
		position: absolute;
		right: 0;
		width: 0;
		-webkit-transition: all 0.3s linear;
		-moz-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
		transition: all 0.3s linear;
}
.breadcrumbview-history {
		width: 8.333333333333332%;
		display: inline;
		position: absolute;
		right: 0;
		-webkit-transition: all 0.3s linear;
		-moz-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
		transition: all 0.3s linear;
}
.breadcrumbview-offscreen {
		position: absolute;
		width: 0;
		opacity: 0;
}
