@import "variables";
@import "mixins";
//@import "px-mobile-mixin-design";
/** Debug Media Query Colors */

$oldColors: ( lap: lightblue, retina: blue, lap-and-up: green, portable: crimson, desk: purple, palm: gold );

///Define new breakpoint colors;
$newColors: ( xs: #fa62af, sm: #4abde6, md: #a3e572, lg:#ffab40, xl: #eddd46 );
$selector: 'responsive-demo';
@mixin createDebugColors($colors) {
	 @each $alias, $color in $colors{
		.color-#{$alias} {
			color: $color !important;
		}

		.u-bg-#{$alias} {
			background-color: $color !important;
		}
	}

}

.u-bg--gray7 {
	background-color: $gray7;
}

.u-bg--gray8 {
	background-color: $gray8;
}

.u-bg--gray9 {
	background-color: $gray9;
}

.u-bg--gray10 {
	background-color: $gray10;
}


.responsive-utilities {
	.is-visible {
		color           : $dv-dark-green;
		background-color: $dv-light-green !important;
	}

	.is-hidden {
		color           : $gray7;
		background-color: $gray2 !important;
	}

	td {
		text-align: center;
	}

	span {
		padding: 5px;
	}

}

.hidden-on .visible,
.visible-on .visible {
	color           : $dv-dark-green;
	background-color: $dv-light-green;
	border          : 1px solid $dv-dark-green;
}

.hidden-on .not-visible,
.visible-on .not-visible {
	color : #999;
	border: 1px solid #ddd;
}
@include createDebugColors($newColors);
@include createDebugColors($oldColors);

.debug-new-breakpoints {
	//@include createDebugBreakpointColors($newColors);
	@each $alias, $color in $newColors {
		// #{$alias} - #{$color}
		@include media-breakpoint($alias) {
			.#{$selector} {
				background-color: $color !important;
			}
		}
	}
}

.debug-old-breakpoints {
	//@include createDebugBreakpointColors($oldColors);
	@each $alias, $color in $oldColors {
		// #{$alias} - #{$color}
		@include media-breakpoint($alias) {
			.#{$selector} {
				background-color: $color !important;
			}
		}
	}
}

.debug {
	.responsive-demo *:nth-child(odd) {
		background-color: rgba(0, 0, 0, 0.2);
	}

	.responsive-demo *:nth-child(even) {
		background-color: rgba(0, 0, 0, 0.4);
	}
}

// TODO: Login demo
.login {
	height         : 100vh;
	display        : flex;
	align-items    : center;
	justify-content: center;
	align-content  : center;

	h1 {
		color      : #fff;
		font-weight: normal;
		margin-top : 0;
	}

	.box {
		flex      : 1;
		background: transparent;
		border    : none;
		text-align: center;
		max-width : 425px;
		overflow  : hidden;
	}

}
