@import "variables";
//@import "px-mobile-mixin-design";
@import "mixins";
@import "px-colors-design/_settings.colors.scss";
@mixin createDebugColors($colors) {
	 @each $alias, $color in $colors{
		.color-#{$alias} {
			color: $color !important;
		}

		.u-bg-#{$alias} {
			background-color: $color !important;
		}
	}
}

.u-bg--gray7 {
	background-color: $gray7;
}

.u-bg--gray8 {
	background-color: $gray8;
}

.u-bg--gray9 {
	background-color: $gray9;
}

.u-bg--gray10 {
	background-color: $gray10;
}

/** Debug Media Query Colors */

$oldColors: ( lap: lightblue, retina: blue, lap-and-up: green, portable: crimson, desk: purple, palm: gold );

///Define new breakpoint colors;
$newColors: ( xs: #e9c069, sm: #93d973, md: #e96969, lg: #69d3e9, xl: purple );
$selector: 'responsive-demo';




@include createDebugColors($newColors);
@include createDebugColors($oldColors);

.debug-old-breakpoints {
	//@include createDebugBreakpointColors($oldColors);
	@each $alias, $color in $oldColors {
		// #{$alias} - #{$color}
		@include media-breakpoint($alias) {
			.#{$selector} {
				background-color: $color !important;
			}
		}
	}
}

.debug-new-breakpoints {
	//@include createDebugBreakpointColors($newColors);
	@each $alias, $color in $newColors {
		// #{$alias} - #{$color}
		@include media-breakpoint($alias) {
			.#{$selector} {
				background-color: $color !important;
			}
		}
	}
}
