
//@import "px-buttons-design/src/style.scss";
//@import "px-code-design/src/style.scss";

//@import "px-button-group-design/src/style.scss";
//@import "px-flag-design/src/style.scss";
//@import "px-forms-design/src/style.scss";
//@import "px-headings-design/src/style.scss";
//@import "px-input-group-design/src/style.scss";
//@import "px-box-design/src/style.scss";
//@import "px-helpers-design/src/style.scss";
//@import "px-layout-design/src/style.scss";
//@import "px-list-bare-design/src/style.scss";
//@import "px-list-inline-design/src/style.scss";
//@import "px-list-ui-design/src/style.scss";
//@import "px-tables-design/src/style.scss";
//@import "px-toggle-design/src/style.scss";
//@import "px-flex-design/src/style.scss";

//@import "px-box-design/src/style.scss";
@import "px-responsive-layouts-predix";
@import "px-responsive-layouts-demo";

@include b ('l-container') {
  //min-height: $layout-min-height;
  position  : relative;
  overflow  : hidden;
  transition: all .5s ease;
}
@import "l-offcanvas";
@import "l-splitview";
//@import "l-progressive";
