/*------------------------------------*    #PX-COLORS-DESIGN
\*------------------------------------*/
/**
 * Brand Colors
 */
/**
     * Primary
     */
/**
     * Light
     */
/**
     * Dark
     */
/**
 * Monochromatic (gray10 is darkest, gray1 is lightest)
 */
/**
 * Define grey = gray to avoid dev typos
 */
/**
 * Buttons
 */
/**
 * Selection
 */
/**
 * Alerts
 */
/**
 * Data Visualization
 */
/**
     * Basic
     */
/**
     * Light
     */
/**
     * Dark
     */
/*================================= Off Canvas ================================*/
.l-offcanvas {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: stretch;
  transition: all 300ms ease-in;
  overflow: hidden; }
  .l-offcanvas__primary-content {
    transition: all 300ms ease-in;
    order: 2;
    flex: 1;
    flex-grow: 5; }
  .l-offcanvas__secondary-content {
    position: relative;
    min-width: 200px;
    order: 1;
    align-self: auto;
    transition: all 300ms ease-in; }
    .l-offcanvas__secondary-content.is-active {
      display: block;
      visibility: visible !important;
      transform: translateX(0) !important; }
    .l-offcanvas__secondary-content.is-passive {
      display: none !important;
      transform: translateX(-100%); }
    @media screen and (max-width: 360px) {
      .l-offcanvas__secondary-content {
        position: absolute;
        transform: translateX(-100%); }
        .l-offcanvas__secondary-content.is-active {
          visibility: visible;
          transform: translateX(0); } }
    @media screen and (min-width: 375px) and (max-width: 736px) {
      .l-offcanvas__secondary-content {
        position: absolute !important;
        transform: translateX(-100%); }
        .l-offcanvas__secondary-content.is-passive {
          display: none !important; } }
    @media screen and (min-width: 375px) and (max-width: 736px) {
      .l-offcanvas__secondary-content {
        transform: translateX(-100%); }
        .l-offcanvas__secondary-content.is-passive {
          display: none !important;
          transform: translateX(-100%); }
        .l-offcanvas__secondary-content.is-active {
          display: block !important;
          transform: translateX(0); } }
    @media screen and (min-width: 1080px) and (max-width: 1200px) {
      .l-offcanvas__secondary-content {
        flex: 1 0 200px;
        display: block;
        transform: translateX(0); }
        .l-offcanvas__secondary-content.is-active, .l-offcanvas__secondary-content.is-passive {
          visibility: visible !important;
          transform: translateX(0) !important; } }

/*================================= Split View ================================*/
.l-splitview {
  background: white;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  transition: all 300ms ease-in;
  overflow: hidden;
  position: relative; }
  .l-splitview__secondary-content {
    position: relative;
    order: 1;
    flex: 1 1 200px;
    align-self: auto;
    transition: all 0.4s ease;
    transform: translateX(0);
    border-right: 1px solid #b1b1bc; }
    @media screen and (max-width: 360px) {
      .l-splitview__secondary-content {
        display: none; } }
    @media screen and (min-width: 375px) and (max-width: 736px) {
      .l-splitview__secondary-content {
        display: none; }
        .l-splitview__secondary-content.is-active {
          display: block; } }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      .l-splitview__secondary-content {
        display: none; }
        .l-splitview__secondary-content.is-active {
          display: block; } }
    @media screen and (min-width: 1080px) and (max-width: 1200px) {
      .l-splitview__secondary-content {
        display: block; } }
    @media screen and (min-width: 1280px) {
      .l-splitview__secondary-content {
        display: block; } }
  .l-splitview__primary-content {
    position: relative;
    order: 2;
    flex: 1 0 auto;
    align-self: auto;
    flex-grow: 2; }
    @media screen and (max-width: 360px) {
      .l-splitview__primary-content {
        display: none; }
        .l-splitview__primary-content.is-active {
          display: block !important; } }
    @media screen and (min-width: 375px) and (max-width: 736px) {
      .l-splitview__primary-content {
        display: none; } }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      .l-splitview__primary-content {
        display: none; } }
    @media screen and (min-width: 1080px) and (max-width: 1200px) {
      .l-splitview__primary-content {
        display: block; } }

/*================================= progressive ================================*/
.l-progressive {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  transition: all 300ms ease-in;
  background: white; }
  .l-progressive div {
    position: relative; }
  @media screen and (min-width: 375px) and (max-width: 736px) {
    .l-progressive .btn-toggle {
      display: block; } }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .l-progressive .btn-toggle {
      display: block; } }
  @media screen and (min-width: 1080px) and (max-width: 1200px) {
    .l-progressive .btn-toggle {
      display: none; } }
  .l-progressive.active {
    display: block; }
  .l-progressive header {
    flex-direction: row;
    display: flex;
    text-transform: uppercase; }
  .l-progressive__primary-sidebar {
    order: 0;
    flex: 0 1 220px;
    position: relative;
    border-right: 1px solid #b1b1bc; }
    @media screen and (max-width: 360px) {
      .l-progressive__primary-sidebar {
        display: none; }
        .l-progressive__primary-sidebar.is-active {
          display: block; } }
    @media screen and (min-width: 375px) and (max-width: 736px) {
      .l-progressive__primary-sidebar {
        display: none; } }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      .l-progressive__primary-sidebar {
        display: none; } }
    @media screen and (min-width: 1080px) and (max-width: 1200px) {
      .l-progressive__primary-sidebar {
        display: block; }
        .l-progressive__primary-sidebar.is-passive {
          display: block; } }
  .l-progressive__secondary-content {
    order: 1;
    flex: 2 0 35%;
    position: relative;
    border-right: 1px solid #b1b1bc; }
    @media screen and (max-width: 360px) {
      .l-progressive__secondary-content {
        display: none; }
        .l-progressive__secondary-content.is-active {
          display: block; } }
    @media screen and (min-width: 375px) and (max-width: 736px) {
      .l-progressive__secondary-content {
        display: none; }
        .l-progressive__secondary-content.is-active {
          display: block; } }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      .l-progressive__secondary-content {
        display: block; } }
    @media screen and (min-width: 1080px) and (max-width: 1200px) {
      .l-progressive__secondary-content {
        display: block; }
        .l-progressive__secondary-content.is-passive {
          display: block !important; } }
  .l-progressive__primary-content {
    order: 2;
    flex: 4 4 50%;
    align-self: auto;
    position: relative; }
    @media screen and (max-width: 360px) {
      .l-progressive__primary-content {
        display: none; }
        .l-progressive__primary-content.is-active {
          display: block; } }
    @media screen and (min-width: 375px) and (max-width: 736px) {
      .l-progressive__primary-content {
        display: none; }
        .l-progressive__primary-content.is-active {
          display: block; } }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      .l-progressive__primary-content {
        display: block; } }
    @media screen and (min-width: 1080px) and (max-width: 1200px) {
      .l-progressive__primary-content {
        display: block; }
        .l-progressive__primary-content.is-passive {
          display: block !important; } }
    .l-progressive__primary-content.is-active {
      display: block; }
    .l-progressive__primary-content.is-passive {
      display: none; }
  .l-progressive__secondary-sidebar {
    order: 3;
    flex: 1 1 15%;
    align-self: auto;
    position: relative;
    border-left: 1px solid #b1b1bc; }
    @media screen and (max-width: 360px) {
      .l-progressive__secondary-sidebar {
        display: none; } }
    @media screen and (min-width: 375px) and (max-width: 736px) {
      .l-progressive__secondary-sidebar {
        display: none; } }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      .l-progressive__secondary-sidebar {
        display: none; } }
    @media screen and (min-width: 1080px) and (max-width: 1200px) {
      .l-progressive__secondary-sidebar {
        display: block; } }

/*
 * Copyright (c) 2016 GE Global Research. All rights reserved.
 *
 * The copyright to the computer software herein is the property of
 * GE Global Research. The software may be used and/or copied only
 * with the written permission of GE Global Research or in accordance
 * with the terms and conditions stipulated in the agreement/contract
 * under which the software has been supplied.
 */
@media (max-width: 991px) {
  .viewport {
    max-width: 100rem;
    margin: 0;
    padding: 0; } }

@media (min-width: 992px) {
  .viewport {
    max-width: 80rem;
    padding: auto;
    margin: auto; } }

.invisible {
  visibility: hidden !important; }

@media (min-width: 330px) {
  .hidden-xs-up {
    display: none !important; } }

@media (max-width: 479px) {
  .hidden-xs-down {
    display: none !important; } }

@media (min-width: 480px) {
  .hidden-sm-up {
    display: none !important; } }

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important; } }

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important; } }

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important; } }

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important; } }

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important; } }

.hidden-xl-down {
  display: none !important; }

:root body,
:root html {
  margin-bottom: 0 !important; }

/** Debug Media Query Colors */
.color-xs {
  color: #e9c069 !important; }

.color-sm {
  color: #93d973 !important; }

.color-md {
  color: #e96969 !important; }

.color-lg {
  color: #69d3e9 !important; }

.color-xl {
  color: purple !important; }

.color-palm {
  color: gold !important; }

.color-portable {
  color: red !important; }

.color-lap {
  color: forestgreen !important; }

.color-desk {
  color: purple !important; }

.color-lap-and-up {
  color: plum !important; }

.color-retina {
  color: blue !important; }

/*

//palm
@include media-breakpoint(palm){
  .responsive-demo {
		background-color: $color-palm !important;
	}
}
//lap
@include media-breakpoint(lap){
	.responsive-demo {
		background-color: $color-lap !important;
	}
}
//lap-and-up
@include media-breakpoint(lap-and-up){
	.responsive-demo {
		background-color: $color-lap-and-up !important;
	}
}
//portable
@include media-breakpoint(portable){
	.responsive-demo {
		background-color: $color-portable !important;
	}
}
///desk
@include media-breakpoint(desk){
	.responsive-demo {
		background-color: $color-desk !important;
	}
}
//retina
@include media-breakpoint(retina){
	.responsive-demo {
		background-color: $color-retina !important;
	}
}
*/
@media screen and (max-width: 360px) {
  .responsive-demo {
    background-color: #e9c069 !important; } }

@media screen and (min-width: 375px) and (max-width: 736px) {
  .responsive-demo {
    background-color: #93d973 !important; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .responsive-demo {
    background-color: #e96969 !important; } }

@media screen and (min-width: 1080px) and (max-width: 1200px) {
  .responsive-demo {
    background-color: #69d3e9 !important; } }

@media screen and (min-width: 1280px) {
  .responsive-demo {
    background-color: purple !important; } }

.l-container {
  min-height: 90vh;
  position: relative; }
