/*
Usage:
	@include element('sidebar'){
		background-color: $graybg;
	}
	@include element('col'){
		background-color: $gray1;
		
		@include modifier('primary') {
			padding: 10px;
			//background-color: blue;
			
			@include respond('desktop') {
			//	background-color: green;
			}
			@include respond('tablet') {
			//	background-color:lime;
			}
		}
		
		@include modifier('secondary') {
			background-color: $white;
			@include respond('desktop') {
				//background-color: green;
			}
			@include respond('tablet') {
				//background-color:$white;
			}
		}
	}
@author Jonnie Spratley
*/
.demo .box div {
  min-height: 150px;
  text-align: center;
  vertical-align: middle;
}
.demo .c1 {
  background-color: rgba(1, 1, 1, 0.2);
}
.demo .c3 {
  background-color: rgba(1, 1, 1, 0.4);
}
.demo .c4 {
  color: #333;
  background-color: #7c7c84;
  background-color: rgba(1, 1, 1, 0.3);
}
.demo .c5 {
  color: #333;
  background-color: rgba(1, 1, 1, 0.2);
}
.demo .c6 {
  color: #333;
  background-color: rgba(138, 140, 142, 0.5);
}

*, html, body {
  font-size: 1.1rem;
  position: relative;
}

.img-responsive {
  min-width: 100% !important;
  max-height: 400px;
}

.navbar {
  z-index: 15;
  background-color: white;
  color: black;
  padding: 2px 8px;
  height: 56px;
  line-height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.navbar .btn {
  margin: 2px 5px;
}
.navbar .brand {
  text-decoration: none;
  color: black;
}

.app {
  margin-top: 65px;
  min-width: 300px;
  background-color: #242326;
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.app .brand {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.app .btn.btn--icon {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.app .list-ui.no-border {
  border: none;
}
.app .list-ui.no-border li {
  border: none;
}
.app .box {
  background: white;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
}
.app .box header {
  display: block;
  border-bottom: 1px solid #9999a3;
  margin-bottom: 0.5rem;
}
.app .box header h3,
.app .box header h4 {
  margin: 0;
}

.splitview__view {
  background-color: lime;
}
.splitview__view:last-child {
  opacity: 1;
}
.splitview__view:target {
  opacity: 1;
  background-color: red;
}

main > * {
  display: none;
}

main > *:last-child {
  display: block;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
main > *:target {
  display: block;
  -webkit-animation: pulse 0.5s linear 1;
          animation: pulse 0.5s linear 1;
}

main > *:target ~ * {
  display: none;
}

.cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (min-width: 320px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.cards .card {
  min-height: 100px;
  margin: 8px;
  border-radius: 4px;
  border: none;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.list-ui--nav {
  border: none;
}
.list-ui--nav li {
  cursor: pointer;
  color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.list-ui--nav li.selected, .list-ui--nav li:active, .list-ui--nav li:hover {
  background-color: #0986a4;
}
.list-ui--nav li a {
  text-decoration: none;
  color: white;
}
.list-ui--nav--subnav {
  border: none;
}

.splitview {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
@media (min-width: 1200px) {
  .splitview .splitview-hide-fullScreen {
    display: none;
  }
}
.splitview .splitview-hide {
  display: none !important;
}
.splitview .btn.btn--bare {
  background-color: transparent !important;
  border: none !important;
}
.splitview__breadcrumbs {
  background-color: white;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  position: absolute;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.splitview__breadcrumbs--is-passive {
  -webkit-transform: translateY(-130%);
          transform: translateY(-130%);
  z-index: 0;
}
.splitview__breadcrumbs--is-active {
  height: auto;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 14;
}
.splitview__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.splitview__col {
  padding: 0;
  margin: 0;
  height: 100%;
  display: inline;
  position: absolute;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
  overflow-x: auto;
}
.splitview__col--is-passive {
  width: 0;
  opacity: 0;
}
.splitview__col--is-active {
  width: auto;
  opacity: 1;
}
.splitview__col--is-active .splitview__col__primary {
  width: 100%;
}
.splitview__col__primary {
  right: 0;
  background-color: #f7f7fc;
}
@media (min-width: 1200px) {
  .splitview__col__primary {
    display: inline;
    position: absolute;
    right: 16%;
    width: 40%;
  }
}
@media (min-width: 768px) {
  .splitview__col__primary {
    position: absolute;
    width: 59%;
    opacity: 1;
  }
}
.splitview__col__secondary {
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1200px) {
  .splitview__col__secondary {
    position: absolute;
    left: 16%;
    width: 27%;
  }
}
@media (min-width: 768px) {
  .splitview__col__secondary {
    position: absolute;
    width: 40%;
    opacity: 1;
  }
}
.splitview__sidebar {
  height: 100%;
  height: 100vh;
  display: inline;
  position: absolute;
  color: white;
  width: 25%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  will-change: translate;
  background-color: #242326;
  z-index: auto;
  padding: 0;
  margin: 0;
}
.splitview__sidebar--left {
  left: 0;
}
.splitview__sidebar--right {
  right: 0;
}
.splitview__sidebar--is-closed {
  opacity: 0;
  width: 0;
  z-index: -1;
}
.splitview__sidebar--is-opened {
  opacity: 1;
  width: 330px !important;
  z-index: 1001;
}
.splitview__sidebar--is-opened + div {
  -webkit-transform: translateX(330px);
          transform: translateX(330px);
}
@media (min-width: 768px) {
  .splitview__sidebar--is-opened {
    width: 25%;
  }
}
@media (min-width: 320px) {
  .splitview__sidebar--is-opened {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .splitview__sidebar {
    opacity: 1 !important;
    width: 15% !important;
  }
}
.splitview__toolbar {
  z-index: 15;
  background-color: #3b3b3f;
  color: white;
  padding: 2px 8px;
  min-height: 56px;
  line-height: 56px;
}

.splitview-hide {
  display: inherit;
}
@media (min-width: 1200px) {
  .splitview-hide {
    display: none !important;
  }
}

.splitview-hide-splitScreen {
  display: none !important;
}
