.app {
  position: relative;
  overflow: hidden;
  min-height: 480px;
}
.demo.demo-snippet {
  background: #eee;
}
.debug-colors li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
code {
  color: crimson;
}
.content{
  background-color: white;
  min-height: 75vh;
  height: 100%;
}

body{
margin-bottom: 0 !important;
}



@media screen and (max-width: 21.3333333333rem) {
  .debug-new-breakpoints .responsive-demo {
    background-color: #fa62af !important; } }

@media screen and (min-width: 22rem) and (max-width: 49.0666666667rem) {
  .debug-new-breakpoints .responsive-demo {
    background-color: #4abde6 !important; } }

@media screen and (min-width: 51.2rem) and (max-width: 68.2rem) {
  .debug-new-breakpoints .responsive-demo {
    background-color: #a3e572 !important; } }

@media screen and (min-width: 68.2666666667rem) and (max-width: 80rem) {
  .debug-new-breakpoints .responsive-demo {
    background-color: #ffab40 !important; } }

@media screen and (min-width: 85.3333333333rem) {
  .debug-new-breakpoints .responsive-demo {
    background-color: #eddd46 !important; } }

@media screen and (min-width: 45em) and (max-width: 63.9375em) {
  .debug-old-breakpoints .responsive-demo {
    background-color: lightblue !important; } }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .debug-old-breakpoints .responsive-demo {
    background-color: blue !important; } }

@media screen and (min-width: 45em) {
  .debug-old-breakpoints .responsive-demo {
    background-color: green !important; } }

@media screen and (max-width: 63.9375em) {
  .debug-old-breakpoints .responsive-demo {
    background-color: crimson !important; } }

@media screen and (min-width: 64em) {
  .debug-old-breakpoints .responsive-demo {
    background-color: purple !important; } }

@media screen and (max-width: 44.9375em) {
  .debug-old-breakpoints .responsive-demo {
    background-color: gold !important; } }


    .u-1\/6:before {
      content: 'u-1/6';
    }
    .responsive-demo .layout .u-1\/6:before {
      content: "u-1/6";
    }
    .responsive-demo .layout .u-2\/6:before {
      content: "u-2/6";
    }
    .responsive-demo .layout .u-3\/6:before {
      content: "u-3/6";
    }
    .responsive-demo .layout .u-4\/6:before {
      content: "u-4/6";
    }
    .responsive-demo .layout .u-5\/6:before {
      content: "u-5/6";
    }
    .responsive-demo .layout .u-1\/1:before {
      content: "u-1/1";
    }
    .responsive-demo .layout .u-1\/2:before {
      content: "u-1/2";
    }
    .responsive-demo .layout .u-1\/3:before {
      content: "u-1/3";
    }
    .responsive-demo .layout .u-2\/3:before {
      content: "u-2/3";
    }
    .responsive-demo .layout .u-1\/4:before {
      content: "u-1/4";
    }
    .responsive-demo .layout .u-2\/4:before {
      content: "u-2/4";
    }
    .responsive-demo .layout .u-3\/4:before {
      content: "u-3/4";
    }
    .debug  .responsive-demo .flex > * {
      margin: 4px;
    }
    .debug .responsive-demo .flex > *,
    .debug .responsive-demo .layout > * {
      padding: 0.5rem;
      text-align: center;
      font-size: 1.2rem;
    }
    .debug .responsive-demo .flex > *:nth-child(odd),
    .debug .responsive-demo .layout > *:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.2);
    }
    .debug .responsive-demo .flex > *:nth-child(even),
    .debug .responsive-demo .layout > *:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.1);
    }
    .debug .layout__item p {
      text-align: center;
      padding: 1rem;
      background-color: #ccc;
    }
